@page "/PersonItem"

<tr class="@rowClass">
    <td class="text-center @textClass">@EmpId</td>
    <td class="text-center @textClass">@FirstName</td>
    <td class="text-center @textClass">@LastName</td>
    <td class="text-center @textClass">@PhoneNumber</td>
</tr>