@page "/PersonList"

<table class="table table-bordered" style="width:1060px;">
    <thead>
        <tr>
            <th class="text-center" style="width:10%;">Emp. Id</th>
            <th class="text-center" style="width:30%;">First Name</th>
            <th class="text-center" style="width:30%;">Last Name</th>
            <th class="text-center" style="width:30%;">Phone number</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var person in People)
        {
            <PersonItem EmpId="@person.EmpId" FirstName="@person.FirstName" LastName="@person.LastName" PhoneNumber="@person.PhoneNumber" />
        }
    </tbody>
</table>

<ItemControlPanel OnNewPerson="@OnNewPerson" OnDeletePerson="@OnDeletePerson" OnEditPerson="@OnEditPerson"/>