@page "/"
@using DevExpress.Blazor
@using System.Collections.ObjectModel

<h2>DevExpress Data Grid</h2>

<DxDataGrid Data="@phoneBooks"
            InitNewRow="@OnInitNewRow"
            RowInserting="@OnRowInserting"
            RowUpdating="@OnRowUpdating"
            RowRemoving="@OnRowDeleting"
            ShowFilterRow="true"
            ShowGroupPanel="true">
    <DxDataGridCommandColumn></DxDataGridCommandColumn>
    <DxDataGridColumn Field="@nameof(PhoneBook.FullName)" />
    <DxDataGridColumn Field="@nameof(PhoneBook.PhoneNumber)" />

</DxDataGrid>

@code {
    public class PhoneBook
    {
        public string FullName { get; set; }
        public string PhoneNumber { get; set; }
    }
    static readonly Random random = new Random();
    readonly ObservableCollection<PhoneBook> phoneBooks = new ObservableCollection<PhoneBook>();

    protected override void OnInitialized()
    {
        String[] FullName = { "David Lee"};
        String[] PhoneNumber = { "111-111-1111"};

        phoneBooks.Add(new PhoneBook()
        {
            FullName = FullName[0],
            PhoneNumber = PhoneNumber[0]
        });
    }

    void OnRowInserting(Dictionary<string, object> itemProperties)
    {
        phoneBooks.Add(UpdateItem(new PhoneBook(), itemProperties));
    }
    void OnRowDeleting(PhoneBook item)
    {
        phoneBooks.Remove(item);
    }
    void OnRowUpdating(PhoneBook item, Dictionary<string, object> itemProperties)
    {
        UpdateItem(item, itemProperties);
    }

    Task OnInitNewRow(Dictionary<string, object> values)
    {
        values.Add("FullName", "");
        values.Add("PhoneNumber", "");
        return Task.CompletedTask;
    }

    static PhoneBook UpdateItem(PhoneBook item, Dictionary<string, object> itemProperties)
    {
        foreach (var field in itemProperties.Keys)
        {
            switch (field)
            {
                case "FullName":
                    item.FullName = (string)itemProperties[nameof(PhoneBook.FullName)];
                    break;
                case "PhoneNumber":
                    item.PhoneNumber = (string)itemProperties[nameof(PhoneBook.PhoneNumber)];
                    break;
            }
        }
        return item;
    }
}
